<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1kfdfk</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-avatar
          style="width: 150px; height: 150px; background-color: yellow"
        >
          <ion-img src="/assets/images/6.jpg" alt="logo-image"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 class="ion-text-center">Shane Nathalie Acebo</h3>
  <ion-list lines="none">
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>
        <h2>+639 5185 1581</h2>
        <p>Mobile Number</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Barugo, Leyte</h2>
        <p>(Current Town/City)</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>25 Febuary, 2000</h2>
        <p>Date of Birth</p>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>
        More information
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h2>Education</h2>
        <p>Studies at Eastern Visayas State University Carigara Campus</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Gender</h2>
        <p>Female</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Religion</h2>
        <p>Roman Catholic</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
